@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");

body {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: hidden;
  flex-direction: column;
}

button {
  margin-top: 0.5rem;
}

.content-container {
  width: min(80vw, 1000px);
  flex: 1;
}

.title {
  text-align: center;
  font-family: "Eczar", serif;
  font-size: 4rem;
  margin: 5rem;
  margin-inline: 0;
}

form {
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.row {
  width: 100%;
  text-align: center;
}

#number {
  text-align: center;
  width: 4rem;
}

.lipsum-result {
  margin: 5rem;
  margin-inline: 0;
  text-align: justify;
}

.options,
.top-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  bottom: 0;
}

@media (max-width: 850px) {
  .title {
    font-size: 2.75rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2.4rem;
  }

  .options {
    display: block;
  }

  form {
    display: flex;
    align-items: center;
  }

  .top-row {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .option {
    text-align: left;
  }

  .title {
    font-size: 1.75rem;
  }
}
